<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2 class="title">Budget</h2>

          </div>
          <div class="content">
            <div class="row">
                <div class="col-md-2 pull-right">
                  <button type="submit" class="btn btn-primary" (click)="addBudget()">Add Budget</button>
                </div>
            </div>
            <div style="margin-top: 10px">
              <ngx-datatable
                      #myTable
                      class='material'
                      [columnMode]="'force'"
                      [headerHeight]="40"
                      [footerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]='rows'>

                <ngx-datatable-column name="Budget Amount">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <strong>{{value | date:'yyyy-MM-dd'}}</strong>
                  </ng-template>
                </ngx-datatable-column>
                  <ngx-datatable-column>
                      <ng-template ngx-datatable-header-template>
                          <span>Action</span>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <i class="fa fa-edit" style="cursor: pointer"
                             (click)="editBudget(row)"></i>
                      </ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Add Budget</h4>
                <h4 class="modal-title" *ngIf="editBlock">Edit Budget</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Select Date</label>
                    <input type="date" class="form-control" [ngModel]="budgetData.date | date:'yyyy-MM-dd'" (ngModelChange)="budgetData.date=$event">
                </div>
                <div class="form-group">
                    <label>Budget Amount</label>
                    <input type="text" class="form-control" placeholder="Budget Amount"
                           [(ngModel)]="budgetData.budgetAmount">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveBudget()" *ngIf="!editBlock">Save</button>
                <button type="button" class="btn btn-primary" (click)="updateBudget()" *ngIf="editBlock">Update
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
