<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2 class="title">Budget</h2>

          </div>
          <div class="content">
            <div style="margin-top: 10px">
              <ngx-datatable
                      #myTable
                      class='material'
                      [columnMode]="'force'"
                      [headerHeight]="40"
                      [footerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]='rows'>

                <ngx-datatable-column name="Amount">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <strong>{{value | date:'yyyy-MM-dd'}}</strong>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
