
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Campaign Activity</h4>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-2 pull-left">
                <label class="control-label">Rows per page</label>
                <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                        (ngModelChange)="onPageSizeChanged($event)">
                  <option *ngFor="let opt of limitOptions"
                          [value]="opt.value">{{opt.key}}</option>
                </select>
              </div>
              <div class="col-md-3 pull-right">
                <button type="submit" class="btn btn-primary" (click)="addCampaign()">Add Campaign Activity</button>
              </div>
            </div>
            <div style="margin-top: 10px">
              <form>
                <ngx-datatable
                        #myTable
                        class='material'
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [externalPaging]="true"
                        [count]="totalSize"
                        [limit]=pageSize
                        [rows]='rows'
                        (page)="pageCallback($event)">

                  <ngx-datatable-column name="Campaign Activity Id">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <strong>{{value}}</strong>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Amount">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <strong>{{value}}</strong>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Campaign Url">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <strong>{{value}}</strong>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Description">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <strong>{{value}}</strong>
                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Campaign Activity</h4>
        <!--                <h4 class="modal-title" *ngIf="editBlock">Edit Campaign</h4>-->
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label>Campaign Name </label>
          <select class="form-control" [(ngModel)]="campaignActivityData.campaignId" name="campaignId">
            <option value="" disabled>Select Campaign</option>
            <option *ngFor="let opt of campaignOptions"
                    [value]="opt.campaignId">{{opt.campaignUrl}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="number" class="form-control"
                 [(ngModel)]="campaignActivityData.amount">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" id="description" [(ngModel)]="campaignActivityData.description" rows="2"></textarea>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCampaignActivity()">Save</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

