<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Campaign</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2 pull-left">
                                <label class="control-label">Rows per page</label>
                                <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                        (ngModelChange)="onPageSizeChanged($event)">
                                    <option *ngFor="let opt of limitOptions"
                                            [value]="opt.value">{{opt.key}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button type="submit" class="btn btn-primary" (click)="addCampaign()">Add Campaign
                                </button>
                            </div>
                        </div>
                        <div style="margin-top: 10px">
                            <form>
                                <ngx-datatable
                                    #myTable
                                    class='material'
                                    [columnMode]="'force'"
                                    [headerHeight]="40"
                                    [footerHeight]="50"
                                    [externalPaging]="true"
                                    [count]="totalSize"
                                    [limit]=pageSize
                                    [rows]='rows'
                                    (page)="pageCallback($event)">

                                    <ngx-datatable-column name="Campaign Id">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <strong>{{value}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Campaign Url">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <strong>{{value}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Description">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <strong>{{value}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Username">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <strong>{{value}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Role">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <strong>{{value}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!--<ngx-datatable-column>
                                        <ng-template ngx-datatable-header-template>
                                            <span>Action</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <i class="fa fa-edit" style="cursor: pointer"
                                               (click)="editBudget(row)"></i>
                                        </ng-template>
                                    </ngx-datatable-column>-->
                                </ngx-datatable>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Campaign</h4>
                <!--                <h4 class="modal-title" *ngIf="editBlock">Edit Campaign</h4>-->
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Campaign Url</label>
                    <input type="text" class="form-control" [(ngModel)]="campaignData.campaignUrl">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control" id="description"
                              [(ngModel)]="campaignData.description" rows="2"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCampaign()">Save</button>
                <!--                <button type="button" class="btn btn-primary" (click)="updateCampaign()" *ngIf="editBlock">Update-->
                <!--                </button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

